<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ProjetoDaiLoca</property>
        <property name="hibernate.connection.username">diego</property>
        <property name="hibernate.connection.password">diego</property>
        <mapping class="entidade.Veiculo"/>
        <mapping class="entidade.Tela"/>
        <mapping class="entidade.Pessoafisica"/>
        <mapping class="entidade.Tipocontato"/>
        <mapping class="entidade.Cidade"/>
        <mapping class="entidade.Manutencao"/>
        <mapping class="entidade.Permissao"/>
        <mapping class="entidade.Funcao"/>
        <mapping class="entidade.Devolucao"/>
        <mapping class="entidade.Statusveiculo"/>
        <mapping class="entidade.Contato"/>
        <mapping class="entidade.Tipoveiculo"/>
        <mapping class="entidade.Estado"/>
        <mapping class="entidade.Funcionario"/>
        <mapping class="entidade.Cliente"/>
        <mapping class="entidade.Parcelaspagamento"/>
        <mapping class="entidade.Pessoajuridica"/>
        <mapping class="entidade.Locacao"/>
        <mapping class="entidade.Documentos"/>
        <mapping class="entidade.Pessoa"/>
        <mapping class="entidade.Reserva"/>
        <mapping class="entidade.Auditoria"/>
        <mapping class="entidade.Log"/>
        <mapping class="entidade.Endereco"/>
        <mapping class="entidade.Veiculostipoestatus"/>
        <mapping class="entidade.Contatopessoas"/>
        <mapping class="entidade.Populartabelacliente"/>
        <mapping class="entidade.Populartabelafornecedor"/>
        <mapping class="entidade.Populartabelafuncionario"/>
        <mapping class="entidade.Populartabelaveiculo"/>
        <mapping class="entidade.Veiculosstatus"/>
        <mapping class="entidade.Populartabelareserva"/>
        <mapping class="entidade.Populartabelalocacao"/>
        <mapping class="entidade.Veiculostipoestatusreserva"/>
        <mapping class="entidade.Cancelamento"/>
        
        
        <!--  Configuração Hibernate Envers  -->
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert"/>   
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-update"/>   
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete"/>   
		<listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update"/>   
		<listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove"/>   
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate"/>
        
        
    </session-factory>
</hibernate-configuration>
