<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ProjetoDaiLoca</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <mapping resource="entidade.Veiculo"/>
    <mapping resource="entidade.Tela"/>
    <mapping resource="entidade.Pessoafisica"/>
    <mapping resource="entidade.Tipocontato"/>
    <mapping resource="entidade.Cidade"/>
    <mapping resource="entidade.Manutencao"/>
    <mapping resource="entidade.Permissao"/>
    <mapping resource="entidade.Funcao"/>
    <mapping resource="entidade.Devolucao"/>
    <mapping resource="entidade.Statusveiculo"/>
    <mapping resource="entidade.Contato"/>
    <mapping resource="entidade.Tipoveiculo"/>
    <mapping resource="entidade.Estado"/>
    <mapping resource="entidade.Funcionario"/>
    <mapping resource="entidade.Cliente"/>
    <mapping resource="entidade.Parcelaspagamento"/>
    <mapping resource="entidade.Pessoajuridica"/>
    <mapping resource="entidade.Locacao"/>
    <mapping resource="entidade.Documentos"/>
    <mapping resource="entidade.Pessoa"/>
    <mapping resource="entidade.Reserva"/>
    <mapping resource="entidade.Auditoria"/>
    <mapping resource="entidade.Log"/>
    <mapping resource="entidade.Endereco"/>
  </session-factory>
</hibernate-configuration>
